*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}
body{
    padding: 100px;
}
p{
    font-size: 2rem;
    text-align: center;
    color: white;
    line-height: 0;
    &:nth-of-type(10){
        color: yellow;
    }
}